
body {
	margin: 0 auto;
	background-color: #20b2aa;
}
.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 5%;
	background-color: #dcdcdc;
	
}
.content:after {
    content: "";
    display: table;
    clear: both;
}
.contacts {
	width: 30%;
	box-sizing: border-box;
	float: left;
	padding-right: 5%;
	
}
img {
	width: 100%;
}

.about {
	width: 70%;
	box-sizing: border-box;
	float: right;
	padding-left: 5%;
}
h3 {
	color: #ffffff;
	background-color: #20b2aa;	
	padding: 1%;
}
h1, h2 {
	text-align: center;
	color: #ffffff;
}
h1 {
	font-size: 2.5rem;
	margin-bottom: 2px;
}
h2 {
	font-size: 2rem;
	margin-top: 2px;
}
h4, .contacts p {
  		text-align: center;
  	}
@media (max-width: 480px) {
  	.contacts, .about {
  		width: 100%
  	}
  	h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
  	
  	}